USE [master]
GO
/****** Object:  Database [MovieTestDb]    Script Date: 26.08.2022 16:27:57 ******/
CREATE DATABASE [MovieTestDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MovieTestDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.İSASERVER\MSSQL\DATA\MovieTestDb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MovieTestDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.İSASERVER\MSSQL\DATA\MovieTestDb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MovieTestDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MovieTestDb]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 26.08.2022 16:27:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DateCreated] [date] NOT NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Movies]    Script Date: 26.08.2022 16:27:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DateCreated] [date] NOT NULL,
	[Picture] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[GenreId] [nvarchar](100) NOT NULL,
	[SubGenreId] [nvarchar](100) NOT NULL,
	[Audience] [int] NOT NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubGenres]    Script Date: 26.08.2022 16:27:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubGenres](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DateCreated] [date] NOT NULL,
	[GenreId] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_SubGenres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 26.08.2022 16:27:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[PasswordHash] [nvarchar](100) NOT NULL,
	[PasswordSalt] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
